.oneQuarterRow {
    height: 25vh;
}

.oneThirdRow {
    height: 33vh;
}

.oneThirdRowMiddle {
    height: 34vh;
}

.oneHalfRow {
    height: 50vh;
}

.wholeRow {
    height: 100vh;
}

.oneQuarterCol {
    width: 25vw;
}

.oneHalfCol {
    width: 50vw;
}

.wholeCol {
    width: 100vw;
}

.container-fluid,
.container,
.row,
.col {
    padding: 0px !important;
    margin: 0px !important;
    flex-wrap: nowrap;
}

body {
    overflow: hidden;
    background-color: black;
}

canvas[data-expanded="false"]:hover {
    filter: blur(0px);
}

.container {
    position: absolute;
    float: none;
    top: 50%;
    left: 50%;
    text-align: center;
}

.cta {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    border: 1px solid white;
    color: #fff;
    transition: width 0.7s;
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 1000;
    background-color: transparent;
    opacity: 0.5;
}

.minView {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    border: 1px solid white;
    color: #fff;
    transition: width 0.7s;
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 1000;
    background-color: transparent;
    opacity: 0.5;
}

.shade {
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.minView:hover {
    opacity: 1.0;
}

.cta:hover {
    width: 95px;
    transition: width 0.5s;
    opacity: 1.0;
}

.cta i {
    opacity: 1;
}

.cta .bi-expand {
    opacity: 1;
}

.cta:hover .bi-expand {
    opacity: 0;
}

.cta .button-text {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    left: 0;
}

.cta:hover .button-text {
    opacity: 1;
    transition: opacity 1s
}

.btn-circle:hover {
    opacity: 1;
    color: white;
    border: 1px solid white;
}

.circled-icon {
    position: relative;
    top: -6.5px;
}

.modal {
    backdrop-filter: blur(5px);
}

.close-btn {
    border: 0px transparent;
    background: transparent;
}

.close-btn>i {
    font-size: 20px;
}

.modal-footer {
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.thornhill-logo {
    height: 1.25rem;
}