<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <meta http-equiv="refresh" content="3600">
        <meta name="msapplication-TileColor" content="#006fff">
        <meta name="theme-color" content="#006fff">
        <title>{{errorCode}} - {{errorShortDesc}} | CamViewerPlus</title>
    </head>


    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            {{{body}}}
        </div>
    </body>


</html>