<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <title>CamViewerPlus</title>
    <style>
        .oneQuarterRow {
            height: 25vh;
        }

        .oneThirdRow {
            height: 33vh;
        }

        .oneThirdRowMiddle {
            height: 34vh;
        }

        .oneHalfRow {
            height: 50vh;
        }

        .wholeRow {
            height: 100vh;
        }

        .oneQuarterCol {
            width: 25vw;
        }

        .oneHalfCol {
            width: 50vw;
        }

        .wholeCol {
            width: 100vw;
        }

        .container-fluid,
        .container,
        .row,
        .col {
            padding: 0px !important;
            margin: 0px !important;
            flex-wrap: nowrap;
        }

        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <script src="/js/jquery.min.js"></script>
    <script src="{{{ scriptUrl }}}"></script>
    {{{body}}}
    <script>
        const streamPort = {{{ streamPort }}};
        $("canvas").each(function () {
            let thisId = $(this).data("id");
            let thisCanvas = document.querySelector('[data-id="' + thisId + '"]');

            loadPlayer({
                url: 'ws://' + location.hostname + ':' + streamPort + '/api/stream/' + thisId,
                canvas: thisCanvas
            });

            $(this).width($(this).data("width") + "vw");
            $(this).height($(this).data("height") + "vh");

            $(this).attr("data-expanded", "false");

        });

        $("canvas").click(function () {

            if ($(this).attr("data-expanded") === 'true') {
                $(this).attr("style", "");
                $(this).width($(this).data("width") + "vw");
                $(this).height($(this).data("height") + "vh");
                $(this).attr("data-expanded", "false");
            } else {
                $(this).attr("style", "position: fixed; top: 0; left: 0; height: 100vh; width: 100vw;")
                $(this).attr("data-expanded", "true");
            }
        });
    </script>
</body>

</html>