<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <title>CamViewerPlus</title>
    <style>
        .oneQuarterRow {
            height: 25vh;
        }

        .oneHalfRow {
            height: 50vh;
        }

        .wholeRow {
            height: 100vh;
        }

        .oneQuarterCol {
            width: 25vw;
        }

        .oneHalfCol {
            width: 50vw;
        }

        .wholeCol {
            width: 100vw;
        }

        .container-fluid,
        .container,
        .row,
        .col {
            padding: 0px !important;
            margin: 0px !important;
            flex-wrap: nowrap;
        }

        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <script src="/js/jquery.min.js"></script>
    {{{body}}}
</body>

</html>