<div class="container-fluid">
    <div class="row oneHalfRow">
        <div class="col">
            <canvas data-id="0" data-width="50" data-height="50"></canvas>
        </div>
        <div class="col">
            <canvas data-id="1" data-width="50" data-height="50"></canvas>
        </div>
    </div>

    <div class="row oneHalfRow">
        <div class="col oneQuarterCol">
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="2" data-width="25" data-height="25"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="3" data-width="25" data-height="25"></canvas>
                </div>
            </div>
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="4" data-width="25" data-height="25"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="5" data-width="25" data-height="25"></canvas>
                </div>
            </div>
        </div>
        <div class="col oneQuarterCol">
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="6" data-width="25" data-height="25"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="7" data-width="25" data-height="25"></canvas>
                </div>
            </div>
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="8" data-width="25" data-height="25"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="9" data-width="25" data-height="25"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>