<div class="container-fluid">
    <div class="row oneHalfRow">
        <div class="col">
            <canvas data-id="0"></canvas>
        </div>
        <div class="col oneQuarterCol">
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="1"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="2"></canvas>
                </div>
            </div>
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="3"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="4"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row oneHalfRow">
        <div class="col">
            <canvas data-id="5"></canvas>
        </div>
        <div class="col oneQuarterCol">
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="6"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="7"></canvas>
                </div>
            </div>
            <div class="row oneQuarterRow">
                <div class="col">
                    <canvas data-id="8"></canvas>
                </div>
                <div class="col">
                    <canvas data-id="9"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jsmpeg.min.js"></script>
<script>
    const streamPortStart = {{{ streamPortStart }}};
    $("canvas").each(function () {
        let thisId = $(this).data("id");
        let thisCanvas = document.querySelector('[data-id="' + thisId + '"]');

        loadPlayer({
            url: 'ws://' + location.hostname + ':' + streamPort + '/api/stream/' + thisId,
            canvas: thisCanvas
        });

        if (thisId === 0 || thisId === 5) {
            $(this).width("50vw");
            $(this).height("50vh");
            $(this).attr("data-width", "50vw");
            $(this).attr("data-height", "50vh");
        } else {
            $(this).width("25vw");
            $(this).height("25vh");
            $(this).attr("data-width", "25vw");
            $(this).attr("data-height", "25vh");
        }
        $(this).attr("data-expanded", "false");

    });

    $("canvas").click(function () {

        if ($(this).attr("data-expanded") === 'true') {
            $(this).attr("style", "");
            $(this).width($(this).data("width"));
            $(this).height($(this).data("height"));
            $(this).attr("data-expanded", "false");
        } else {
            $(this).attr("style", "position: fixed; top: 0; left: 0; height: 100vh; width: 100vw;")
            $(this).attr("data-expanded", "true");
        }
    });
</script>