<div class="text-center">
    <h1 class="display-1 fw-bold text-white">{{errorCode}}</h1>
    <p class="fs-3 text-white"> <span class="text-danger">Error!</span> {{errorShortDesc}}</p>
    <p class="lead text-white">
        {{errorDesc}}
    </p>
    <a href="/" class="btn btn-primary">Back to grid view</a>
</div>