<div class="container-fluid">
    <div class="row oneThirdRow">
        <div class="col">
            <canvas data-id="0" data-width="33" data-height="33"></canvas>
        </div>
        <div class="col">
            <canvas data-id="1" data-width="34" data-height="33"></canvas>
        </div>
        <div class="col">
            <canvas data-id="2" data-width="33" data-height="33"></canvas>
        </div>
    </div>

    <div class="row oneThirdRowMiddle">
        <div class="col">
            <canvas data-id="3" data-width="33" data-height="34"></canvas>
        </div>
        <div class="col">
            <canvas data-id="4" data-width="34" data-height="34"></canvas>
        </div>
        <div class="col">
            <canvas data-id="5" data-width="33" data-height="34"></canvas>
        </div>
    </div>

    <div class="row oneThirdRow">
        <div class="col">
            <canvas data-id="6" data-width="33" data-height="33"></canvas>
        </div>
        <div class="col">
            <canvas data-id="7" data-width="34" data-height="33"></canvas>
        </div>
        <div class="col">
            <canvas data-id="8" data-width="33" data-height="33"></canvas>
        </div>
    </div>
</div>